<p>Register</p>

<form (ngSubmit)="userRegister()" [formGroup]="form">
    <div class="form-group mb-3 mt-3">
        <input formControlName="firstName" class="form-control is-{{ !firstName.dirty ? 'empty' : (firstName.valid ? 'valid' : 'invalid') }}" type="text" placeholder="Name" aria-label="" value="" />
    </div>

    <div class="form-group mb-3 mt-3">
        <input formControlName="lastName" class="form-control is-{{ !lastName.dirty ? 'empty' : (lastName.valid ? 'valid' : 'invalid') }}" type="text" placeholder="Surname" aria-label="" value="" />
    </div>

    <div class="form-group mb-3 mt-3">
        <input formControlName="email" class="form-control is-{{ !email.dirty ? 'empty' : (email.valid ? 'valid' : 'invalid') }}" type="email" placeholder="Email" aria-label="" value="" />
    </div>

    <div class="form-group mb-3 mt-3">
        <input formControlName="password" class="form-control is-{{ !password.dirty ? 'empty' : (password.valid ? 'valid' : 'invalid') }}" type="password" placeholder="Password" aria-label="" value="" />
    </div>

    <div class="form-group mb-3 mt-3">
        <input formControlName="passwordConfirmation" class="form-control is-{{ !passwordConfirmation.dirty ? 'empty' : (passwordConfirmation.valid ? 'valid' : 'invalid') }}" type="password" placeholder="Password Confirmation" aria-label="" value="" />
    </div>

  <button class="btn btn-primary" type="submit">Register</button>
</form>
