<section class="formations" id="formations">
  <div class="container">
    <h2 class="formations__title">Types de Formations</h2>
    <div class="cards">
      <a class="card" href="./list-formations.component.html">
        <img
          src="./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
          alt="photo"
          class="card__img"
        />
        <span class="card__badge">Nouveau</span>
        <footer class="card__footer">
          <div class="card__content">
            <h3 class="card__title">Formation Inter</h3>
            <span class="card__subtitle"></span>
          </div>
        </footer>
      </a>
      <a class="card" href="./formationsIntra.html">
        <img
          src="./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"
          alt="photo"
          class="card__img"
        />
        <span class="card__badge">Nouveau</span>
        <footer class="card__footer">
          <div class="card__content">
            <h3 class="card__title">Formation Intra</h3>
            <span class="card__subtitle">Sélectionnez votre lieu</span>
          </div>
        </footer>
      </a>
      <a class="card" href="./contact.html">
        <img
          src="./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
          alt="photo"
          class="card__img"
        />
        <!-- <span class="card__badge">Nouveau</span> -->
        <footer class="card__footer">
          <div class="card__content">
            <h3 class="card__title">Formations personnalisée</h3>
            <span class="card__subtitle">Contactez-nous</span>
          </div>
        </footer>
      </a>
    </div>
  </div>
</section>
