<section class="list-formations" id="list-formations">
  <app-formation-list></app-formation-list>
</section>

<section class="formations" id="formations">
  <div class="container">
    <h2 class="formations__title"></h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let item of sections">
        <a class="card h-100" [attr.href]="item.href">
          <figure>
            <img
              [src]="item.src"
              alt="photo"
              class="img-fluid"
              alt="smaple image"
            />
          </figure>
          <footer class="card__footer">
            <div class="card__content">
              <h3 class="card__title">{{ item.title }}</h3>
              <span class="card__subtitle">{{ item.subtitle }}</span>
            </div>
          </footer>
        </a>
      </div>
    </div>
  </div>
</section>
