<section class="formations" id="formations">
  <div class="container">
    <h2 class="formations__title">Types de Formations</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col view overlay">
      <a class="card h-100 " href="./list-formations.component.html">
        <img
          src="../assets/images/scott-graham-5fNmWej4tAA-unsplash.jpg"
          alt="smaple image"
          class="card__img img-fluid"
        />


        <footer class="card__footer h-100">
          <div class="card__content">
            <h3 class="card__title">Toutes nos formations</h3>
            <span class="card__subtitle"></span>

          </div>
        </footer>
      </a>
      <div class="mask rgba-blue-light"></div>
      </div>
      <div class="col">
      <a class="card h-100" href="./formationsIntra.html">
        <img
          src="../assets/images/headway-5QgIuuBxKwM-unsplash.jpg"
          alt="photo"
          class="card__img"
        />
        <footer class="card__footer ">
          <div class="card__content">
            <h3 class="card__title">Formation entreprise</h3>
            <span class="card__subtitle">Sélectionnez votre lieu</span>
          </div>
        </footer>
      </a>
      </div>
      <div class="col">
      <a class="card h-100" href="./contact.html">
        <img
          src="../assets/images/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg"
          alt="photo"
          class="card__img"
        />
        <footer class="card__footer">
          <div class="card__content">
            <h3 class="card__title">Formations personnalisée</h3>
            <span class="card__subtitle ">Contactez-nous</span>
          </div>
        </footer>
      </a>
    </div>
  </div>
  </div>
</section>
