<h1>Edit Trainings</h1>

<div class="container-md d-flex pb-3 justify-content-center justify-content-between">
  <div class="flex-fill mx-3">
    <div class="mb-3">
      <input class="form-control form-control-sm" type="text" placeholder="..." aria-label=".form-control-sm example" />
    </div>

    <div class="mb-3">
      <input class="form-control form-control-sm" type="text" placeholder="..." aria-label=".form-control-sm example" />
    </div>

    <div class="mb-3">
      <input class="form-control form-control-sm" type="text" placeholder="..." aria-label=".form-control-sm example" />
    </div>

    <div class="mb-3">
      <input class="form-control form-control-sm" type="text" placeholder="..." aria-label=".form-control-sm example" />
    </div>

    <app-session-overview *ngIf="training?.id" [idTraining]="training?.id" [ref]="training?.ref">
    </app-session-overview>
  </div>
</div>
