// .accordion-header{
//   background-color: #022462;
//   position: relative;
//   text-decoration: none;
//   color: white;
//   border-radius: 2px;
//   display: block;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   padding-left: 10px;

// }

// .accordion-header:hover{
//   background-color:  #94b8ea;//lighten(#02399F,30%);
// }

.badge {
  background-color: #94b8ea;
  color: darken(#94b8ea, 50%);
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  bottom: 20%;
  right: 0.75rem;
  animation: bounce 2s infinite;
}

tr:hover {
  background-color: gainsboro;
}
