<div
  class="container-md d-flex pb-3 justify-content-center justify-content-between"
>
  <div class="flex-fill mx-3">
    <div><h4>Trouver une formation</h4></div>
    <div class="input-group">
      <select class="form-select flex-auto" aria-label="">
        <option selected>All Trainings</option>
        <option value="true">Active Trainings</option>
        <option value="false">Inactive Trainings</option>
      </select>
      <input
        class="form-control"
        type="search"
        name="Search"
        #keyword
        placeholder="Mot clé, thème.."
      />
      <button
        class="btn btn-primary"
        type="button"
        (click)="searchFormations(keyword.value)"
      >
        search
      </button>
    </div>
    <br />
    <!--All trainings-->
    <h2 *ngIf="formations">Notre catalogue des formations</h2>
    <div class="accordion" *ngIf="formations && !noTrainingsFound">
      <div
        class="accordion-item"
        *ngFor="let formation of formations; let i = index"
      >
        <h2 class="accordion-header" [attr.id]="'heading' + i">
          <button
            class="accordion-button"
            type="button"
            (click)="openAccordion[i] = !openAccordion[i]"
            data-bs-toggle="collapse"
            [attr.data-target]="'#collapse' + i"
            aria-expanded="true"
            [attr.aria-controls]="'collapse' + i"
          >
            {{ formation.titref }}
          </button>
        </h2>
        <div
          [attr.id]="'collapse' + i"
          class="accordion-collapse collapse"
          [class.show]="openAccordion[i]"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <!--  *ngIf="formation.themes"> -->
            <ul>
              <li>
                Référence: <strong>{{ formation.reference }}</strong>
              </li>
              <li>
                Durée: <strong>{{ formation.duree }} jours</strong>
              </li>
              <!-- <li>
                Lieu: <strong>{{ formation.lieu }}</strong>
              </li> -->
              <!-- <li>
                Type de formation:
                <strong *ngIf="formation.interFormation">inter-entreprise</strong>
                <strong *ngIf="!formation.interFormation">intra-entreprise</strong>
              </li> -->
              <li>
                Pré-requis: <strong>{{ formation.prerequis }}</strong>
              </li>
              <li>
                Objectif de cette formation:
                <strong>{{ formation.objectif }}</strong>
              </li>
              <li>
                Public: <strong>{{ formation.publicVise }}</strong>
              </li>
              <!-- <li>
                Détails: <strong>{{ formation.programmeDetaille }}</strong>
              </li> -->
              <!-- <li *ngIf="!formation.themes">
                Theme: non défini!!
              </li> -->
              <li *ngFor="let theme of formation.themes">
                {{ theme.nomTheme }}
              </li>
            </ul>

            <!--  *ngIf="isUser" -->
            <ul *ngIf="!isAdmin">
              <button
                type="submit"
                class="btn btn-secondary"
                [attr.id]="'showDetails' + i"
                (click)="onShowDetails(i, formation.idFormation)"
              >
                Afficher détails
              </button>
            </ul>
            <!-- *ngIf="isAdmin" -->
            <ul *ngIf="isAdmin">
              <button
                *ngIf="isAdmin"
                type="submit"
                class="btn btn-warning"
                [attr.id]="'editFormation' + i"
                (click)="onShowEditPage(i, formation.idFormation)"
              >
                Modifier
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- show alert if No training was found-->
    <div class="alert alert-info" *ngIf="noTrainingsFound">
      {{ noTrainingsFound }}
    </div>
  </div>
</div>

<!-- <div
  class="modal fade"
  id="removeTrainingModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="removeTrainingModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Training</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ⚠️&nbsp;This action is irreversible. Are you sure about this decision?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          cancel
        </button>
        <button type="button" class="btn btn-danger">remove</button>
      </div>
    </div>
  </div>
</div> -->
