<form [formGroup]="form">
  <div class="form-group mb-3 mt-3">
    <input
      formControlName="lastName"
      class="text-center form-control"
      type="text"
      placeholder="Nom"
      aria-label=""
      [attr.disabled]="true"
    />
  </div>

  <div class="form-group mb-3 mt-3">
    <input
      formControlName="firstName"
      class="text-center form-control"
      type="text"
      placeholder="Prénom"
      aria-label=""
      [attr.disabled]="true"
    />
  </div>

  <div class="form-group mb-3 mt-3">
    <input
      formControlName="email"
      class="text-center form-control"
      type="email"
      placeholder="Email"
      autocomplete="off"
      aria-label=""
      [attr.disabled]="true"
    />
  </div>

  <div class="form-group mb-3 mt-3">
    <input
      formControlName="password"
      class="text-center form-control"
      type="password"
      placeholder="Mot de passe"
      autocomplete="off"
      aria-label=""
      [attr.disabled]="true"
    />
  </div>

  <div class="form-group mb-3 mt-3">
    <input
      formControlName="numTelephone"
      class="text-center form-control"
      type="text"
      placeholder="Téléphone"
      aria-label=""
      [attr.disabled]="true"
    />
  </div>

  <div class="form-group mb-3 mt-3">
    <input
      formControlName="adresse"
      class="text-center form-control"
      type="text"
      placeholder="Adresse"
      aria-label=""
      [attr.disabled]="true"
    />
  </div>

  <!-- entreprise -->
  <div class="form-check">
    <label for="entreprise" class="form-check-label"
      >Entreprise {{ entreprise.value ? '✔' : '❌' }}</label
    >
  </div>

  <div class="form-group mb-3 mt-3">
    <input
      formControlName="coordonneesEntre"
      class="text-center form-control"
      type="text"
      placeholder="Coordonnées Entreprise"
      aria-label=""
      [attr.disabled]="true"
    />
  </div>

  <button class="btn btn-primary" routerLink="/profile/edit">Edit</button>
</form>
