<form>
    <div class="form-group mb-3 mt-3">
        <input
          class="text-center form-control"
          type="text"
          placeholder="Name"
          aria-label=""
          [disabled]="true"
        />
    </div>
    
    <div class="form-group mb-3 mt-3">
        <input
          class="text-center form-control"
          type="text"
          placeholder="Surname"
          aria-label=""
          [disabled]="true"
        />
    </div>

    <div class="form-group mb-3 mt-3">
      <input
        class="text-center form-control"
        type="email"
        placeholder="Email"
        aria-label=""
        [disabled]="true"
      />
    </div>

    <div class="form-group mb-3 mt-3">
      <input
        class="text-center form-control"
        type="text"
        placeholder="Password"
        aria-label=""
        value="TEST"
        [disabled]="true"
      />
    </div>
  
    <button class="btn btn-primary" routerLink="/profile/edit">Edit</button>
  </form>
