<div
  class="container-md d-flex pb-3 justify-content-center justify-content-between"
>
  <div class="flex-fill mx-3">
    <div><h4>Trouver une formation</h4></div>
    <div class="input-group">
      <select class="form-select flex-auto" aria-label="">
        <option selected>All Trainings</option>
        <option value="true">Active Trainings</option>
        <option value="false">Inactive Trainings</option>
      </select>
      <input
        class="form-control"
        type="search"
        name="Search"
        #keyword
        placeholder="Mot clé, thème.."
      />
      <button
        class="btn btn-primary"
        type="button"
        (click)="searchFormations(keyword.value)"
      >
        search
      </button>
    </div>
    <br />
    <!--All trainings-->
    <h2 *ngIf="formations && !noTrainingsFound">
      Notre catalogue des formations
    </h2>
    <div class="accordion" *ngIf="formations">
      <div
        class="accordion-item"
        *ngFor="let formation of formations; let i = index"
      >
        <h2 class="accordion-header" [attr.id]="'heading' + i">
          <button
            class="accordion-button"
            type="button"
            (click)="openAccordion[i] = !openAccordion[i]"
            data-bs-toggle="collapse"
            [attr.data-target]="'#collapse' + i"
            aria-expanded="true"
            [attr.aria-controls]="'collapse' + i"
          >
            {{ formation.titref }}
          </button>
        </h2>
        <div
          [attr.id]="'collapse' + i"
          class="accordion-collapse collapse"
          [class.show]="openAccordion[i]"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body" *ngIf="formation.themes">
            <ul>
              <li *ngFor="let theme of formation.themes">
                {{ theme.nomTheme }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- show alert if No training was found-->
    <div class="alert alert-info" *ngIf="noTrainingsFound">
      {{ noTrainingsFound }}
    </div>
  </div>
</div>

<!--<div class="w-100 d-flex justify-content-center">
  <table class="table table-striped rounded-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Location</th>
        <th scope="col">Duration</th>
        <th scope="col">Target Audience</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of trainings">
        <th scope="row">
          <a [routerLink]="['training', item.ref]">
            {{ item.ref }}
          </a>
        </th>
        <td>{{ item.title }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.duration }}</td>
        <td>{{ item.target }}</td>
        <td>
          <div class="white-space">
            <button class="btn btn-info btn-sm d-inline-block">
<a [routerLink]="[item.ref, 'edit']"> edit </a></button
            >&nbsp;
            <button
              class="btn btn-danger btn-sm d-inline-block"
              data-bs-toggle="modal"
              data-bs-target="#removeTrainingModal"
            >
              remove
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
-->

<div
  class="modal fade"
  id="removeTrainingModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="removeTrainingModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Training</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ⚠️&nbsp;This action is irreversible. Are you sure about this decision?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          cancel
        </button>
        <button type="button" class="btn btn-danger">remove</button>
      </div>
    </div>
  </div>
</div>
