<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <!-- BRAND -->
    <a class="navbar-brand" href="/">
      <img width="42" src="/assets/images/saturn.svg" alt="Saturn image SVG" />
    </a>

    <!-- NAVIGATION -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let item of navs" [ngClass]="[item?.child?.length ? 'nav-item dropdown' : 'nav-item']">
          <div *ngIf="!item?.child; else showDropdown">
            <a [routerLink]="[item.path]" class="nav-item nav-link">{{ item.name }}</a>
          </div>

          <ng-template #showDropdown>
            <a
              class="nav-link dropdown-toggle"
              [routerLink]="[item.path]"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ item.name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let childItem of item.child">
                <a [routerLink]="[childItem.path]" class="dropdown-item">
                  {{ childItem.name }}
                </a>
              </li>
            </ul>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
