@import url(https://use.fontawesome.com/releases/v5.14.0/css/all.css);

nav ul li a:hover {
  border-bottom: 2px solid #02399f;
  color: #02399f;
  transition: 0.6s;
  font-size: 19px;
}

.header {
  padding: 1rem;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &__logo {
    margin: 0;
    text-align: left;
    size: 10px;
  }
  nav .icon {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-left: 20px;
    list-style-type: none;
    font-size: 20px;
    width: 20%;
  }

 // .navbar-nav {
  nav { //nav by charline
    &__link {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  header: {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  }
}
