.header {
  padding: 1rem;
  position: relative;

  &__logo {
    margin: 0;
    text-align: left;
    size: 10px;
  }
  nav .icon {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-left: 20px;
    list-style-type: none;
    font-size: 20px;
    width: 20%;
  }
}
