<form (ngSubmit)="editUser()" [formGroup]="form">
    <div class="form-group mb-3 mt-3">
        <input
          formControlName="firstName"
          class="text-center form-control {{ firstName.untouched ? '' : firstName.invalid ? 'is-invalid' : 'is-valid' }}"
          type="text"
          placeholder="Name"
          aria-label=""
        />
        <span *ngIf="firstName.touched && firstName.invalid" class="text-danger">Invalid First Name</span>
    </div>
    
    <div class="form-group mb-3 mt-3">
        <input
          formControlName="lastName"
          class="text-center form-control {{ lastName.untouched ? '' : lastName.invalid ? 'is-invalid' : 'is-valid' }}"
          type="text"
          placeholder="Surname"
          aria-label=""
        />
        <span *ngIf="lastName.touched && lastName.invalid" class="text-danger">Invalid Last Name</span>
    </div>

    <div class="form-group mb-3 mt-3">
      <input
        formControlName="email"
        class="text-center form-control {{ email.untouched ? '' : email.invalid ? 'is-invalid' : 'is-valid' }}"
        type="email"
        placeholder="Email"
        aria-label=""
        required
      />
      <span *ngIf="email.touched && email.invalid" class="text-danger">Invalid Email</span>
    </div>

    <div class="form-group mb-3 mt-3">
      <input
        formControlName="password"
        class="text-center form-control {{ password.untouched ? '' : password.invalid ? 'is-invalid' : 'is-valid' }}"
        type="password"
        placeholder="Password"
        aria-label=""
        required
      />
      <span *ngIf="password.touched && password.invalid" class="text-danger">Invalid Password</span>
    </div>
  
    <button class="btn btn-info" routerLink="/profile">Apercu</button>
    &nbsp;
    <button class="btn btn-primary" type="submit">Edit</button>
  </form>
