<div id="searchContainer" class="container justify-content-center">
  <div class="row">
    <div class="col-md-8">
      <h3>Trouver une formation à distance ou en présentiel</h3>
      <div class="input-group mb-3">
        <input
          id="searchBar"
          type="text"
          name="searchBar"
          class="form-control input-text"
          placeholder="référence, mot clé, thème..."
          aria-label="search-criteria"
          aria-describedby="basic-addon2"
          #key
        />
        <!--onkeyup="searchFormations(key.value)"-->
        <button
          name="b1"
          class="btn btn-outline-info btn-lg"
          type="button"
          (click)="searchFormations(key.value)"
        >
          <i class="fa fa-search">Rechercher</i>
        </button>
      </div>
    </div>
  </div>
</div>
