<footer *ngIf="isAdmin && isNotDashboard" class="footer">
  <div class="container">
    <span class="footer__logo">Saturne Formation</span>
    <ul class="footer__tab">
      <li class="footer__">
        <a class="footer__link" href="#"
          ><i class="fa-solid fa-people-group"></i>Qui sommes nous?</a
        >
      </li>
      <li class="footer__tabInfo">
        <a class="footer__link" href="#"
          ><i class="fa-solid fa-buildings"></i>Nos centres de formations</a
        >
      </li>
      <li class="footer__tabInfo">
        <a class="footer__link" href="#">Mentions légales</a>
      </li>
      <li class="footer__tabInfo">
        <a class="footer__link" href="mailto:contact@it.training.com"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
