/* You can add global styles to this file, and also import other style files */
@import './styles/bootstrap.scss';


//Code couleur

$color-primary: #02399f;
$color-secondary: #ff79da;
$color-tertiary: #6c8fcf;
$color-quaternary: #f3f3f3;
$color-quinary: #ececec;


h1 {
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
