<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Saturne</a>
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <input
    class="form-control form-control-dark w-100"
    type="text"
    placeholder="Search"
    aria-label="Search"
  />
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/dashboard"
            >
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/catalogue">
              <span data-feather="file"></span>
              Catalogues
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/formation">
              <span data-feather="file"></span>
              Formations
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/session">
              <span data-feather="users"></span>
              Sesssions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
              <span data-feather="bar-chart-2"></span>
              Stagiaires
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
              <span data-feather="bar-chart-2"></span>
              Salles
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
              <span data-feather="bar-chart-2"></span>
              Evaluations
            </a>
          </li>
        </ul>
        <!-- catalogues -->
        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Catalogues</span>
          <a class="link-secondary" href="#" aria-label="Catalogues">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/catalogue">
              <span data-feather="file-text"></span>
              Afficher catalogue
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/catalogue">
              <span data-feather="file-text"></span>
              Ajouter catalogue
            </a>
          </li>
        </ul>
        <!-- Formations -->

        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Formations</span>
          <a
            class="link-secondary"
            routerLink="/dashboard/formation"
            aria-label="Formations"
          >
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/formation">
              <span data-feather="file-text"></span>
              Afficher formations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/formation/add">
              <span data-feather="file-text"></span>
              Ajouter formations
            </a>
          </li>
        </ul>

        <!-- Sessions -->

        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Session</span>
          <a
            class="link-secondary"
            routerLink="/dashboard/session"
            aria-label="Sessions"
          >
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/session">
              <span data-feather="file-text"></span>
              Afficher Sessions
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
