.pointerCursor {
  cursor: pointer;
}

.myPanelFooter {
  background-color: aliceblue;
}
.accordion-header {
  background-color: #022462;
  position: relative;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  // display: block;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // padding-left: 10px;
}

summary {
  background-color: #02399f;
  color: white;
}
